<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Index</title>
</head>
<body>
<h2>Thank you for making a meal </h2>
<h4> People can sign up as a helper,shopper,or cleaner</h4>

<form name="form" th:action="@{/addMeal}" th:object="${meal}" method="POST" enctype="multipart/form-data">
    <fieldset>
        <div class="container">

            <hr>
            <label for="file"><b>Foto</b></label>
            <input type="file" id="file" name="file" placeholder="Enter Foto">
            <input th:field="*{mealName}"/><br/><br/>
            <label>Meal name</label>
           <br/>
            <button type="submit">Submit</button>

        </div>

    </fieldset>
   </form>
</body>
</html>
