<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create an event</title>
    <object th:include="fragments/resources :: head" th:remove="tag"></object>

</head>
<body>

<header>
    <object th:include="fragments/navigation :: menu" th:remove="tag"></object>
</header>

<div class="container">
    <div id="banner" class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h5><strong>Info!</strong> After uploading this meal, people can sign up as a Cleaner, Shopper or Helper</h5>
    </div><br>
</div>

<div class="container-fluid">
    <form th:action="@{/addmeal}" th:object="${meal}" method="post" enctype="multipart/form-data">
        <div class="row">

            <div class="col-sm-5" style="background-color:lavenderblush;"><br>
                <div class="form-inline">
                    <label for="cookName" ><b> Cook name :&nbsp;</b> </label>
                    <input type="text" class="form-control" th:field="*{cookName}" id="cookName" name="cookName" ><br>
                </div><br>
                <div class="form-inline">
                    <label for="mealName" ><b> Meal name :&nbsp;</b> </label>
                    <input type="text" class="form-control" th:field="*{mealName}" id="mealName" name="mealName" ><br>
                </div><br>
                <div class="form-inline">
                    <label for="mealDescription" ><b> Meal description :&nbsp;</b> </label>
                    <textarea class="form-control" th:field="*{mealDescription}" rows="3" id="mealDescription" name="mealDescription" ></textarea><br>
                </div><br>
                <div class="form-inline">
                    <label ><b> Meal date :&nbsp;</b> </label>
                    <input type="text" class="form-control" id="datepicker" th:field="*{mealDate}">
                </div><br>
                <div class="form-inline">
                    <label for="startCookingTime" ><b> Cooking start at :&nbsp;</b> </label>
                    <input type="time" class="form-control" th:field="*{startCookingTime}" id="startCookingTime" name="startCookingTime" ><br>
                    &nbsp;O'clock </div><br>
                <div class="form-inline">
                    <label for="startEatingTime" ><b> Eating start at :&nbsp; </b></label>
                    <input type="time" class="form-control" th:field="*{startEatingTime}" id="startEatingTime" name="startEatingTime" ><br>
                    &nbsp;O'clock</div><br>
                <div class="form-inline">
                    <label for="preparationTime" ><b> Meal preparation takes about :&nbsp;</b> </label>
                    <input type="time" class="form-control" th:field="*{preparationTime}" id="preparationTime" name="preparationTime" ><br>
                </div><br>

            </div>
            <!-- Ingredients -->

            <div class="col-sm-7" style="background-color:lavenderblush;"><br>
                <h4>Please put the ingredients needed for one person! </h4><br>

                <table id="ingredientTable" class="table">
                    <thead>
                    <tr>
                        <th >Ingredient's name</th>
                        <th >Quantity</th>
                        <th >Unit</th>
                        <th> <button  class="btn btn-info btn-sm" type="submit"  name="addIngredient">Add ingredient</button></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="ingredient, rowStat : *{ingredients}">
                        <td><input type="text" th:field="*{ingredients[__${rowStat.index}__].name}" ></td>
                        <td><input type="text" th:field="*{ingredients[__${rowStat.index}__].quantity}" ></td>
                        <td>
                            <select class="form-control" th:field="*{ingredients[__${rowStat.index}__].unit}" id="exampleSelect1">
                                <option th:each="unit : ${unitList}"
                                        th:value="${unit}"
                                        th:text="${unit}">
                                </option>Kg
                            </select>
                        </td>
                        <td>
                            <button  class="btn btn-info btn-sm" type="submit" th:value="${rowStat.index}"  name="removeIngredient">Remove ingredient</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

             <!-- Ingredients End-->

                <br><input class="btn btn-outline-danger" type="file" name="file" id="file"  placeholder="image"><br><br>

                <button class="btn btn-warning">Add the meal</button>
            </div>
        </div>

    </form>
</div>


<object th:include="fragments/resources :: bottom" th:remove="tag"></object>
<script type="text/javascript">
    $.noConflict();
    jQuery(document).ready(function ($) {
        $('#datepicker').datepicker();
    });
</script></body>
</html>



