<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create an event</title>
    <object th:include="fragments/resources :: head" th:remove="tag"></object>

</head>
<body>

<header>
    <object th:include="fragments/navigation :: menu" th:remove="tag"></object>
</header>

<div class="container">
    <div id="banner" class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h5><strong>Info!</strong> After uploading this meal, people can sign up as a Cleaner, Shopper or Helper</h5>
    </div><br>
</div>

<div class="container-fluid">
    <form th:action="@{/addmeal}" th:object="${newMeal}" method="post" enctype="multipart/form-data">
    <div class="row">

        <div class="col-sm-6" style="background-color:lavenderblush;"><br>
            <div class="form-inline">
                <label for="cookName" ><b> Cook name :&nbsp;</b> </label>
                <input type="text" class="form-control" th:field="*{cookName}" id="cookName" name="cookName" required><br>
            </div><br>
            <div class="form-inline">
                <label for="mealName" ><b> Meal name :&nbsp;</b> </label>
                <input type="text" class="form-control" th:field="*{mealName}" id="mealName" name="mealName" required><br>
            </div><br>
            <div class="form-inline">
                <label for="mealDescription" ><b> Meal description :&nbsp;</b> </label>
                <input type="text" class="form-control" th:field="*{mealDescription}" id="mealDescription" name="mealDescription" required><br>
            </div><br>

            <div class="form-inline">
                <label for="preparationTime" ><b> Meal preparation takes about :&nbsp;</b> </label>
                <input type="time" class="form-control" th:field="*{preparationTime}" id="preparationTime" name="preparationTime" required><br>
            </div><br>
            <div class="form-inline">
                <label for="startCookingTime" ><b> Cooking start at :&nbsp;</b> </label>
                <input type="time" class="form-control" th:field="*{startCookingTime}" id="startCookingTime" name="startCookingTime" required><br>
                &nbsp;O'cloock </div><br>
            <div class="form-inline">
                <label for="startEatingTime" ><b> Eating start at :&nbsp; </b></label>
                <input type="time" class="form-control" th:field="*{startEatingTime}" id="startEatingTime" name="startEatingTime" required><br>
                &nbsp;O'cloock</div><br>
        </div>
    <!-- Ingredients -->

        <div class="col-sm-6" style="background-color:lavenderblush;"><br>
                <h4>Please put the ingredients needed for one person! </h4><br>
                <div class="form-inline">
                    <label for="ingredient" ><b> Ingredients :&nbsp;</b> </label>
                    <input type="text" class="form-control" th:field="*{mealName}" id="ingredient" name="ingredient" required><br>
                </div><br>
                <div class="form-inline">
                    <label for="quantity" ><b> Quantity :&nbsp;</b> </label>
                    <input type="number" class="form-control"  id="quantity" name="quantity" required>

                    <label for="exampleSelect1"><b>&nbsp; Unit&nbsp;</b> </label>
                    <select class="form-control" id="exampleSelect1">
                        <option value="">Select a Unit</option>
                        <option value="Liter" th:text="Liter"></option>
                        <option value="Kg" th:text="Kg"></option>
                        <option value="Piece" th:text="Piece"></option>
                    </select>
                </div><br>

        <!-- Ingredients End-->

            <div class="form-inline">
                <input type="text" class="form-control" id="datepicker" th:field="*{dateTime}" required> Meal date :&nbsp;
            </div><br>

            <input type="file" name="file" id="file"  placeholder="image"><br><br>

            <button type="button" class="btn btn-warning">Add the meal</button>
        </div>
    </div>

</form>
    </div>

<p th:text="${#dates.format(meal.dateTime, 'dd-MM-yyyy')}"></p>

<object th:include="fragments/resources :: bottom" th:remove="tag"></object>
<script type="text/javascript" th:inline="javascript" >
/*<![CDATA[*/
    $(function(){
         $('#datepicker').datepicker();

});
/*]]>*/
</script>

</body>

</html>