<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detail Page</title>
    <object th:include="fragments/resources :: head" th:remove="tag"></object>

</head>
<body>

<header>
    <object th:include="fragments/navigation :: menu" th:remove="tag"></object>
</header>

<div th:if="${disable}==true" class="alert alert-danger">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
<strong>Please log in first!</strong>
</div>


<div class="container">
    <div id="banner" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h5><strong>Info!</strong> Cooking can only take place if we sign up as a Cleaner, Shopper or Helper</h5>
    </div>
</div>
<div class="container-fluid">
  <div th:each="user : ${users}">
    <form th:action="@{'/detail/registration/'+${user.id}+'/' +${mealdetail.id}}" method="post" >
        <div class="disabled-button-wrapper">
            <button  name="eat" value="eat" id="eat" class="btn btn-secondary"  th:disabled="${disable}">Join mail
            </button>
        </div>
    </form>

      <span th:each="userRegister : ${user.mealRegistration}">
-                    <h1 th:if="${userRegister.id == mealdetail.id && username == user.username}">you are already joined</h1>
-     </span>
  </div>
        <br><br>
        <div class="disabled-button-wrapper">
            <button type="button" name="signup" value="clean" id="clean" class="btn btn-secondary" th:disabled="${disable}">I'll clean
            </button>
        </div>
        <div class="disabled-button-wrapper">
            <button type="button" name="signup" value="shop" id="shop" class="btn btn-secondary" th:disabled="${disable}">I'll shop
            </button>
        </div>
        <div class="disabled-button-wrapper">
            <button type="button" name="signup" value="help" id="help" class="btn btn-secondary" th:disabled="${disable}">I'll help
            </button>
        </div>
    </form>
    <br>
    <div class="row">
        <div class="col-sm-6" style="background-color:lavenderblush;">
            <h5>Cook : <span th:text="${mealdetail.cookName}"> Sarah </span></h5><br>
            <h5>Date : <span th:text="${mealdetail.dateTime}"> 4/10/2018 </span></h5><br>
            <h5>Eating start at : <span th:text="${mealdetail.startEatingTime}"> 2:30 O'clock </span></h5><br>
            <h5>Cooking start at : <span th:text="${mealdetail.startCookingTime}"> 11:15 O'clock </span></h5><br>
            <h5>Cooking takes a bout : <span th:text="${mealdetail.preparationTime}"> 3 Hours </span></h5><br>
            <h5>Ingredients :
                <table class="table">
                    <tr>
                        <th>Ingredient's name</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                    </tr>
                    <tr th:each="ingredient : ${ingredients}">
                        <td th:text="${ingredient.name}">1</td>
                        <td th:text="${ingredient.quantity}">Alex</td>
                        <td th:text="${ingredient.unit}">secret</td>
                    </tr>
                </table>
            </h5>

            <h5>
                                <table class="table">
                                    <tr>
                                        <th>Attendants</th>
                                    </tr>
                                    <tr th:each="attendant : ${attendants}">
                                        <td th:text="${attendant.username}">1</td>
                                    <!--</tr>-->
                                </table>
                            </h5>
            <h5><a th:href="@{'/detail/mealdetail/shoppinglist/'+${mealdetail.id}}">View Shopping List</a></h5>
            <br>
             <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo"><b>Who's Coming?</b></button>
                   <ul id="demo" class="collapse">
                       <li>Ali</li>
                       <li>Nour</li>
                   </ul>
        </div>
        <div class="col-sm-6" style="background-color:light;"><br><img th:src="@{'/images/'+ ${mealdetail.foodImage}}"></div>
    </div>
   </div>
<object th:include="fragments/resources :: bottom" th:remove="tag"></object>
<script th:inline="javascript") >
/*<![CDATA[*/
    $(function(){
        $("#banner").hide();
        var notLoged = /*[[${disable}]]*/'default';
        if (notLoged){
         $('.disabled-button-wrapper').tooltip({title: "Please log in first!"});
         }else{
        $('#eat').toggleClass('btn-secondary btn-primary');
        $('#clean').toggleClass('btn-secondary btn-warning');
        $('#shop').toggleClass('btn-secondary btn-danger');
        $('#help').toggleClass('btn-secondary btn-success');
        }

        $('#clean').on('click', function() {
        if ($(this).hasClass('btn-warning')){
           $("div:nth-child(4)").tooltip({title: "Already found"});
           $('#clean').addClass('btn-secondary').removeClass('btn-warning');
        }else{
             $("#banner").show();
            setTimeout(function() {
            $("#banner").hide();
            }, 10000);
            $("div:nth-child(4)").tooltip('dispose');
            $('#clean').addClass('btn-warning').removeClass('btn-secondary');
        }
        });

        $('#shop').on('click', function() {
        if ($(this).hasClass('btn-danger')){
            $("div:nth-child(5)").tooltip({title: "Already found"});
            $('#shop').addClass('btn-secondary').removeClass('btn-danger');

        }else{
             $("#banner").show();
            setTimeout(function() {
            $("#banner").hide();
            }, 10000);
            $("div:nth-child(5)").tooltip('dispose');
            $('#shop').addClass('btn-danger').removeClass('btn-secondary');
        }
        });

        $('#help').on('click', function() {
        if ($(this).hasClass('btn-success')){
            $("div:nth-child(6)").tooltip({title: "Already found"});
            $('#help').addClass('btn-secondary').removeClass('btn-success');

        }else{
            $("#banner").show();
            setTimeout(function() {
            $("#banner").hide();
            }, 10000);
            $("div:nth-child(6)").tooltip('dispose');
            $('#help').addClass('btn-success').removeClass('btn-secondary');
        }
        });

         if ($('#clean').hasClass('btn-warning') || $('#shop').hasClass('btn-danger') || $('#help').hasClass('btn-success')){
            $("#banner").show();
            setTimeout(function() {
            $("#banner").hide();
            }, 15000);
         }
    });
/*]]>*/
</script>

</body>
</html>

