<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>
    <object th:include="fragments/resources :: head" th:remove="tag"></object>

</head>
<body>

<header>
    <object th:include="fragments/navigation :: menu" th:remove="tag"></object>
</header>

<div class="container">

    <div th:if="${param.logout}" class="alert alert-success" >
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> You have been logged out.
            </div>

        <div sec:authorize="isAuthenticated()" class="alert alert-success" >
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> You have been logged in.
        </div>

        <div th:if="${param.error}" class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong> There was an error, please try again.
        </div>
        <br>
    <img th:src="@{/images/noorBreakfast.png}">
    <br>
    <h2>Welcome to our Kitchen</h2>
    <table class="table">
        <thead>
        <tr>
            <th>The Meal</th>
            <th>The Date</th>
            <th>The Cook</th>
            <th>Number of Attendances</th>
            <th>Detail Page</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="meal: ${ourMeals}">
            <td th:text="${meal.cookName}">Soup</td>
            <td th:text="${meal.mealDate}">09 May 2018</td>
            <td th:text="${meal.mealName}">Sarah Baterdouk</td>
            <td th:text="${meal.numberOfPeople}">10</td>
            <td><a th:href="@{'/detail/mealdetail/'+${meal.id}}">View Detail</a></td>
        </tr>
        </tbody>
    </table>
    <br><br>

</div>
<object th:include="fragments/resources :: bottom" th:remove="tag"></object>


</body>
</html>