<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <object th:include="fragments/resources :: head" th:remove="tag"></object>

</head>
<body>

<header>
    <object th:include="fragments/navigation :: menu" th:remove="tag"></object>
</header>

<div class="container">

    <br>
    <p th:if="${param.logout}">You have been logged out</p>
    <p th:if="${param.error}">There was an error, please try again</p>
    <br>
    <img th:src="@{/images/tomato.png}">
    <br>
    <h2>Welcome to our Kitchen</h2>
    <p>See what we have</p>
    <table class="table">
        <thead>
        <tr>
            <th>The Meal</th>
            <th>The Date</th>
            <th>The Cook</th>
            <th>Number of Attendances</th>
            <th>Detail Page</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="meal: ${meals}">
            <td th:text="${meal.cookName}">Soup</td>
            <td th:text="${meal.dateTime}">09 May 2018</td>
            <td th:text="${meal.mealName}">Sarah Baterdouk</td>
            <td th:text="${meal.numberOfPeople}">10</td>
            <td th:text="View Detail"><a th:href="@{/mealdetail/{meal.id}">View Detail</a></td>
        </tr>
        </tbody>
    </table>
    <br><br>
    <p>Just for test the user repository</p>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Password</th>
            <th>Authorities</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}">1</td>
            <td th:text="${user.username}">Alex</td>
            <td th:text="${user.password}">secret</td>
            <td th:text="${user.authorities}">user</td>
        </tr>
    </table>
</div>

<object th:include="fragments/resources :: bottom" th:remove="tag"></object>
</body>
</html>
