<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <object th:include="fragments/resources :: head" th:remove="tag"></object>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <!-- Links -->
    <a class="navbar-brand" th:href="@{/}">Kitchen Chef</a>
</nav>

<div th:if="${param.error}" class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Error!</strong> There was an error, please try again.
</div>
<br>

<p>Please login first</p>
<form th:action="@{/login}" method="post">
    <div class="input-group input-group-custom">
        <input type="text" id="username" name="username" autofocus="autofocus"
               class="form-control"
               placeholder="Username" required>
    </div><br>
    <div class="input-group input-group-custom">
        <input id="password" type="password" class="form-control" name="password"
               placeholder="Password" required>
    </div><br>
    <div>
        <button id="login" class="btn btn-primary" value="Login">Submit</button>
    </div>
</form>
<object th:include="fragments/resources :: bottom" th:remove="tag"></object>
</body>
</html>