<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Meals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-1/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" />


    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-1/js/bootstrap.min.js}"  ></script>

</head>
<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

        <a class="navbar-brand" href="#">Refugees Code Kitchen Chef</a>

        <!-- Collapsible Navbar -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">

            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html" th:href="@{/}"> Home&nbsp;&nbsp;</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown"> Register
                            <span class="caret"></span>&nbsp;</button>
                        <ul class="dropdown-menu">
                            <li>
                                <form id="register"  method="post">
                                    <div class="input-group">
                                        <input id="username1" type="text" class="form-control"  name="userName" placeholder="Username" required/>
                                    </div><br>
                                    <div class="input-group">
                                        <input id="password1" type="password" class="form-control"  name="password" placeholder="Password" required>
                                    </div><br>
                                    <div class="input-group">
                                        <input id="conPassword1" type="password" class="form-control" name="conPassword1" placeholder="Confirm Password" required>
                                    </div><br>
                                    <button id="registration" class="btn btn-primary">Submit</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown"> Log In
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li>
                                <form id="logIn"  method="post">
                                    <div class="input-group">
                                        <input id="username" type="text" class="form-control"  name="userName" placeholder="Username" required>
                                    </div><br>
                                    <div class="input-group">
                                        <input id="password" type="password" class="form-control"  name="password" placeholder="Password" required>
                                    </div><br>
                                    <button id="loging" class="btn btn-primary">Submit</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <h1>Meal Name</h1>

        <div class="row">
            <div class="col" style="background-color:lavender;">
                <p>Cook:<spa</p>


            </div>
            <div class="col" style="background-color:lavender;">.col</div>
        </div>
    </div>

    <script>
    $(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });

    </script>

</body>
</html>





 <!--   <div class="container">
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h5><strong>Info!</strong> Cooking can only take place if we sign up as a Cleaner, Shopper or Helper</h5>
        </div>
        <br>
        <form action="/register" method="post">
            <div><a href="#" data-toggle="tooltip" title="Hooray!"><button type="button" name="register"  value="eat" id="eat" class="btn btn-secondary disabled" data-toggle="collapse" data-target="#demo" >Sign up for the meal</button></a></div><br>
            <a href="#" data-toggle="tooltip" title="Hooray!"><button type="button" name="register" value="clean" id="clean" class="btn btn-secondary disabled" data-toggle="collapse" data-target="#demo" >Sign up as Cleaner</button></a> &nbsp;
            <a href="#" data-toggle="tooltip" title="Hooray!"><button type="button" name="register"  value="shop"id="shop" class="btn btn-secondary disabled" data-toggle="collapse" data-target="#demo" >Sign up as Shopper</button></a> &nbsp;
            <a href="#" data-toggle="tooltip" title="Hooray!"><button type="button" name="register" value="help" id="help" class="btn btn-secondary disabled" data-toggle="collapse" data-target="#demo" >Sign up as Helper</button></a>
        </form>
        <!-- Normally, all inputs in the form are sent with the form. Since a button's value is submitted only if clicked,
         you'd have to search the form values for these pre-defined names. I think the other answer (stackoverflow.com/a/21778226/88409)
         that involves giving them all the same name, with different values, makes more sense.
         Then you just grab the value under a single known form field name. It also makes it more obvious
         that only one value (the clicked one) will be sent for the given input name,
         much like how radio buttons work (same name, different values). -->
 <!--   <br>
    <h2>Our Meal</h2>
     <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Cook Name</th>
                <th>Meal Name</th>
                <th>Meal Date</th>
                <th>Meal Description</th>
                <th>Ingredients</th>
                <th>Eating Time</th>
                <th>Names of Attendances</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Sarah Baterdouk</td>
                <td>Soup</td>
                <td>9/8/2018</td>
                <td>very delicious</td>
                <td><div class="dropdown">
                    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                       Ingredients
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" >Lentils</a>
                        <a class="dropdown-item" >salt</a>
                        <a class="dropdown-item">Carrot</a>
                    </div>
                </div></td>
                <td>2:30 O'clock</td>
                <td><div class="dropdown">
                    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                        Names of Attendances
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" >Ali</a>
                        <a class="dropdown-item" >Nour</a>
                        <a class="dropdown-item">Wael</a>
                    </div>
                </div></td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>


